<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Sistema de Locação de Veículos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  
  
</head>
<body>
	<header th:insert="fragments/menu.html :: header"> </header>
	<div class="container my-2">

		<h1>Sistema de Locação de Veiculos</h1>
		<hr>

		<h2>Editar Pessoa</h2>
		<form action="#" th:action="@{/cadastros/pessoas/salvar}" th:object="${pessoa}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
			<input type="text" th:field="*{nome}" placeholder="Nome" class="form-control mb-4 col-4">
      		
      		<input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">
      		<input type="text" th:field="*{telefone}" placeholder="Telefone" class="form-control mb-4 col-4">
			<input type="text" th:field="*{endereco}" placeholder="Endereco" class="form-control mb-4 col-8">
			
			<div class="table-responsive">

							<h4>Locações</h4>
							<table class="table table-hover">
								<thead class="table-primary">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Data Retirada</th>
										<th scope="col">Data Devolução</th>
										<th scope="col">Veículo</th>
																
									</tr >
								</thead>
								<tbody>
									<tr th:each="item,itemStat : *{locacoes}">
										<th scope="row" th:text="${itemStat.count}">
										<input
											type="hidden"
											th:field="*{locacoes[__${itemStat.index}__].id}" />
										</th>
										<td> <input type="text"
											th:field="*{locacoes[__${itemStat.index}__].dataRetirada}"  />
										</td>
										<td><input type="text"
											th:field="*{locacoes[__${itemStat.index}__].dataDevolucao}" />
										</td>
										<td><input type="text"
											th:field="*{locacoes[__${itemStat.index}__].veiculo.placa}" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
			<br>			
			
		</form>
		<hr>
		<a th:href="@{/cadastros/pessoas}">Retornar para a lista de pessoas</a>
	</div>
</body>
</html>