<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Sistema de Gestão de Pedidos</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>
  
  
</head>
<body>
	<header th:insert="fragments/menu.html :: header"> </header>
	<div class="container my-2">
		<h2>Editar Item Pedido</h2>
		<form action="#" th:action="@{/cadastros/pedidoItens/salvar}" th:object="${pedidoItem}" method="POST">
			<input type="hidden" id="id" th:field="*{id}">
			
			<br>
			
			<select th:field="*{produto}" class="form-control mb-4 col-4">
				<option th:each="produto: ${produtos}" th:value="${produto.id}" th:text="${produto.nome}"></option>
			</select> 
			
			<input type="text" th:field="*{qtd}" placeholder="Quantidade" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{valor}" placeholder="Valor" class="form-control mb-4 col-4">
			
			<button type="submit" class="btn btn-info col-2">Salvar</button>
		</form>
		<hr>
		<a th:href="@{/cadastros/pedidoItens/{id}(id=${pedidoItem.id})}">Retornar para a lista de pedidos</a>
	</div>
</body>
</html>